@media screen and (min-width: 800px){
    html{
        font-size: 20px;
    }
    .header-container{
        width: 100%!important;
        display: flex;
    }
    .menu{
        width: 100%;
        margin-left: 60%;
        display: flex;
    }
    .navbar-b {
        transition: all .5s ease-in-out;
        background-color: transparent;
        padding-top: 1.563rem;
        padding-bottom: 1.563rem;
    }
    .menu li a:hover{
        color: #FB1B41!important;
        font-weight: bold!important;
    }
    .burger{
        display: none;
        
    }
    .container-fluid{
        width: 90%!important;
    }
    h1{
        font-size: 4rem!important;
    }
    h2{
        font-size: 2rem!important;
    } 
    h2 span{
        background: rgba(14, 14, 16, 0.5);
    }
    #go-top {
        height: 7%;
        width: 4%;
    }
    #go-top i{
        top: -16%;
        position: relative;
        font-size: 3rem;
        text-align: center;
        width: 100%;
        height: 100%;
    }
    .logo{
        width: 20%;
        height: 20%;
        left: 0;
        top: 0;
    }
    
    .about-contain{
        width: 90%;
        flex-direction: row-reverse!important;
    }
    .about-contain img{
        width: 50%!important;
        margin: 0!important;
    }
    .bloc-about{
        width: 50%;
        align-items: flex-start!important;
    }
    .bloc-about h5, p{
        text-align: left!important;
    }
    .bloc-about p{
        padding-left: 0!important;
    }
    .skills{
        margin-top: 3%;
        display: grid!important;
        grid-template: 10% 90% / 50% 50%;
    }
    .skills h5{
        grid-area: 1 / 1 / 1 / -1;
        justify-self: center;
        align-self: center;
    }
    .skills-left{
        grid-area: 2 / 1 / 2 / 1;
        width: 100%;
        height: 100%;
        justify-self: center;
        align-self: center;
    }
    .skills-right{
        grid-area: 2 / 2 / 2 / 2;
        width: 100%;
        height: 100%;
        justify-self: center;
        align-items: center;
    }
    h3{
        width: 50%;
        justify-content: center;
        text-align: center;
    }
    h3 img{
        width: 8%!important;
    }
    .projects .contain, .lab .contain{
        flex-direction: row!important;
        justify-content: center!important;
        width: 70%;
    }
    .projects .project, .lab .project{
        height: 250px;
        width: 600px!important;
        position: relative;
        left: -2%;
        top: 50px;
        padding: 0!important;
        align-items: flex-start!important;
    }
    .projects .project button, .lab .project button{
        margin-left: 35%;
        width: 29%;
    }
    .projects .contain h6, .projects .contain span, .lab .contain h6, .lab .contain span{
        font-size: 1.8rem;
        width: 100%;
        margin-left: 2%!important;
        margin-top: 2%!important;
        margin-bottom: 2%!important;
        padding: 0!important;
        text-align: left!important;
    }
    .projects .descr-projet, .lab .descr-projet{
        font-size: 1rem;
        margin-left: 4%!important;
        margin-bottom: 0!important;
        padding-top: 2%!important;
    }
    .modal-body p{
        margin-top: 5%;
    }
    .projects div img, .lab div img{
        width: 50%!important;
        height: 400px;
        align-items: flex-start;
    }
    .bloc-blog a div{
        width: 100%;
    }
    .bloc-blog{
        flex-direction: row!important;
        justify-content: space-evenly!important;
        flex-wrap: wrap;
        padding: 5%!important;
    }
    .projects .index, .lab .index{
        font-size: 1rem!important;
        width: 100%;
    }
    .bloc-blog .contain{
        width: 30%;
        height: 42vh;
        border-radius: 10px 10px 0 0!important;
        overflow: hidden;
    }
    .blog .contain p{
        display: none;
    }
    .blog .contain img{
        width: 99.5%!important;
        border-radius: 10px 10px 0 0!important;
    }
    .blog .contain:hover img{
        -webkit-animation: scale-up-center 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
        animation: scale-up-center 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
        border-radius: 10px 10px 10px 10px!important;
    }
    .date{
        width: 30%!important;
        top: -61px;
        left: -179px;
        font-size: 1.3rem;
    }
    @-webkit-keyframes scale-up-center {
        0% {
          -webkit-transform: scale(1);
                  transform: scale(1);
        }
        100% {
          -webkit-transform: scale(1.5);
                  transform: scale(1.5);
        }
      }
      @keyframes scale-up-center {
        0% {
          -webkit-transform: scale(1);
                  transform: scale(1);
        }
        100% {
          -webkit-transform: scale(1.5);
                  transform: scale(1.5);
        }
      }
      
    .bloc-blog .contain:hover p{
        display: block;
        text-align: center!important;
        -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	    animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    }
    @-webkit-keyframes text-focus-in {
        0%, 70% {
          -webkit-filter: blur(12px);
                  filter: blur(12px);
          opacity: 0;
        }
        100% {
          -webkit-filter: blur(0px);
                  filter: blur(0px);
          opacity: 1;
        }
      }
      @keyframes text-focus-in {
        0%, 70% {
          -webkit-filter: blur(12px);
                  filter: blur(12px);
          opacity: 0;
        }
        100% {
          -webkit-filter: blur(0px);
                  filter: blur(0px);
          opacity: 1;
        }
      }
    .bloc-blog .contain:hover .article{
        
        -webkit-animation: shadow-drop-center 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	    animation: shadow-drop-center 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }
    @-webkit-keyframes shadow-drop-center {
        0% {
          -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
                  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        }
        100% {
          -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
                  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
        }
      }
      @keyframes shadow-drop-center {
        0% {
          -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
                  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        }
        100% {
          -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
                  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
        }
      }
    .bloc-blog .contain:hover .date{
        -webkit-animation: slide-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }
    @-webkit-keyframes slide-top {
        0% {
          -webkit-transform: translateY(0);
                  transform: translateY(0);
        }
        100% {
          -webkit-transform: translateY(-267px);
                  transform: translateY(-267px);
        }
      }
      @keyframes slide-top {
        0% {
          -webkit-transform: translateY(0);
                  transform: translateY(0);
        }
        100% {
          -webkit-transform: translateY(-267px);
                  transform: translateY(-267px);
        }
      }
    .bloc-blog .contain:hover .article{
        -webkit-animation: slide-to-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: slide-to-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }
    @-webkit-keyframes slide-to-top {
        0% {
          -webkit-transform: translateY(200px);
                  transform: translateY(200px);
                  height: 108px;
        }
        100% {
          -webkit-transform: translateY(-50px);
                  transform: translateY(-50px);
                  height: 357px;
        }
      }
      @keyframes slide-to-top {
        0% {
            -webkit-transform: translateY(200px);
                    transform: translateY(200px);
                    height: 108px;
          }
          100% {
            -webkit-transform: translateY(-50px);
                    transform: translateY(-50px);
                    height: 357px;
          }
      }

    .bloc-blog a:hover img{
        opacity: 0.2;
    }
    .bloc-blog a:hover .article{
        position: relative;
        top: -277px;
        margin: 0!important;
        padding: 0!important;
    }
    .article{
        margin-top: -12%!important;
        border-radius: 0 0 10px 10px;
        overflow: hidden;
    }
    .article h6{
        margin-top: 2%;
    }
    .contact{
        height: 100%;
    }
    form{
        width: 40%;
        height: 100%;
    }
    .contact div{
        flex-direction: row!important;
        justify-content: space-around!important;
    }
    .bg-custom{
        height: 1100px;
        width: 40%;
    }
    .bg-custom div{
        flex-direction: column!important;
    }
    .bg-custom div img{
        width: 10%;
    }
    footer img{
        width: 70%;
    }
    footer img:hover{
        filter: drop-shadow(0 0 0.75rem #FB1B41);
    }
    footer{
        height: 30vh!important;
    }
}