@media screen and (min-width: 800px){
    html{
        font-size: 20px;
    }
    .header-container{
        width: 100%!important;
        display: flex;
    }
    .menu{
        width: 100%;
        margin-left: 60%;
        display: flex;
    }
    .navbar-b {
        transition: all .5s ease-in-out;
        background-color: transparent;
        padding-top: 1.563rem;
        padding-bottom: 1.563rem;
    }
    .burger{
        display: none;
        
    }
    .container-fluid{
        width: 90%!important;
    }
    #go-top {
        height: 10%;
        width: 6%;
    }
    .logo{
        width: 15%;
        height: 10%;
    }
    .about-contain{
        width: 90%;
        flex-direction: row-reverse!important;
    }
    .about-contain img{
        width: 50%!important;
        margin: 0!important;
    }
    .bloc-about{
        width: 50%;
        align-items: flex-start!important;
    }
    .bloc-about h5, p{
        text-align: left!important;
    }
    .bloc-about p{
        padding-left: 0!important;
    }
    .skills{
        margin-top: 3%;
        display: grid!important;
        grid-template: 10% 90% / 50% 50%;
    }
    .skills h5{
        grid-area: 1 / 1 / 1 / -1;
        justify-self: center;
        align-self: center;
    }
    .skills-left{
        grid-area: 2 / 1 / 2 / 1;
        width: 100%;
        height: 100%;
        justify-self: center;
        align-self: center;
    }
    .skills-right{
        grid-area: 2 / 2 / 2 / 2;
        width: 100%;
        height: 100%;
        justify-self: center;
        align-items: center;
    }
    h3{
        width: 50%;
        justify-content: center;
        text-align: center;
    }
    h3 img{
        width: 12%!important;
    }
    .projects{
        height: 100%;
    }
    .projects div img{
        width: 40%!important;
        align-items: flex-start;
    }
    .projects div div{
        width: 25%!important;
        height: 10%!important;
    }
    .blog .contain img{
        width: 100%;
    }
    .date{
        width: 30%;
        top: -41px;
        left: -35%;
    }
    .article{
        margin-top: -7%!important;
    }
    .contact{
        height: 100%;
    }
    form{
        width: 75%;
        height: 100%;
    }
    textarea{
        height: 50%!important;
    }
    .bg-custom{
        width: 67%;
    }
    footer img{
        width: 70%;
    }
    footer{
        height: 30vh!important;
    }
}