*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Rubik';
}
html{
    font-size: 14px;
}
header{
    height: 100vh;
    background-color: #2A2A2C;
}
.header-container{
    width: 90%!important;
    margin-left: 2%!important;
    margin-right: 2%!important;
}
.logo{
    width: 30%;
}
.menu{
    display: none;
}
.burger{
    display: flex;
}
.burger ul li a{
    color: #E4E3E3!important;
    font-size: 3rem;
    line-height: 200%;
}
.container-fluid{
    width: 90%!important;
}
.menu ul li a{
    color: #E4E3E3!important;
}
h1{
    color: #E4E3E3;
    font-size: 3rem;
    margin-top: 20%;
}
.main-color{
    color: #FB1B41;
}
.container{
    margin-top: 10%;
}
h2{
    color: #E4E3E3;
    padding-left: 0;
    width: 100%!important;
    font-size: 1.2rem!important;
}
.wrapper{
    width: 100%!important;
}
.wrapper .dynamic-txts{
    margin-left: 0px;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
}
.dynamic-txts li{
    list-style: none;
    color: #FB1B41;
    top: 0;
    position: relative;
    animation: slide 9s steps(3) infinite;
}
@keyframes slide {
    100%{
        top: -60px;
    }
  }
.dynamic-txts li span{
    position: relative;
    margin-left: -5%;
}
.dynamic-txts li span::after{
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background: #2A2A2C;
    border-left: 2px solid #FB1B41;
    animation: typing 3s steps(50) infinite;
}
@keyframes typing {
    100%{
        left: 100%;
        margin: 0 -35px 0 35px;
    }
}
@keyframes typing {
    40%,
    60%{
        left: calc(77% + 25px);
        margin: 0 -35px 0 35px;
    }
    100%{
        left:0;
    }
}
.about{
    background-color: #2A2A2C;
    margin: 0%;
    padding: 0%;
}
h3{
    color: #E4E3E3;
    font-size: 2.5rem;
    margin: 0%;
    padding: 0%;
}
.separation{
    width: 25%;
    padding: 2%;
}
h4{
    color: #E4E3E3;
    font-size: 1.25rem;
}
h5{
    color: #E4E3E3;
    font-size: 1.5rem;
}
.about p{
    color: #E4E3E3;
    text-align: center;
}
.neon{
    text-shadow: 0px 0px 10px #5C93C9;
}
.download{
    color: #E4E3E3;
    background-color: #FB1B41;
    width: 50%;
    font-size: 1.5rem;
    margin: 5%;
    padding: 2%;
}
.progress{
    border-radius: 20px;
}
.progress-bar{
    background-color: #FB1B41;
    border-radius: 20px;
}
.html-css{
    width: 80%;
}
.js{
    width: 60%;
}
.php{
    width: 60%;
}
.figma{
    width: 80%;
}
.gimp{
    width: 70%;
}
.mysql{
    width: 60%;
}
.sass{
    width: 80%;
}
.shell{
    width: 60%;
}
.git{
    width: 80%;
}
.wordpress{
    width: 60%;
}
.projects{
    background-color: #2A2A2C;
    margin: 0%;
    padding: 0%;
}
.project-icon{
    width: 20%;
}
h6{
    font-size: 2rem;
}
.projects button::before, .lab button::before{
    content: "";
    position: absolute;
    width: 0%;
    height: 200%;
    transform: rotate(-15deg) translateY(-20px);
    top: 0;
    left: 0;
    z-index: 3;
    background: #c70039;
    transition: all .7s ease;
}
.projects button, .lab button{
    background: transparent;
    outline: none;
    border: 1.5px solid #FB1B41;
    overflow: hidden;
    position: relative;
    transition: all .4s ease;
    font-size: 2rem;
}
.projects button:hover, .lab button:hover{
    opacity: 1;
    color:#E4E3E3;
}
 .projects button:hover .index, .lab button:hover .index{
     position: relative;
    z-index: 4;
    color: #E4E3E3;
}
.projects button:hover::before, .lab button:hover::before{
    opacity: 1;
    width: 120%;
}
.projects button, .lab button{
    text-align: center;
}
.project {
    background-color: #0E0E10;
    width: 75%;
}
.descr-projet{
    line-height: 25px;
    letter-spacing: 5%;
    color: #E4E3E3;
    font-size: 1.2rem;
    width: 90%;
}
.lab{
    background-color: #2A2A2C;
}
.lab-icon{
    width: 30%;
}
.blog{
    background-color: #2A2A2C;
}
.blog-icon{
    width: 30%;
}
.about-icon{
    width: 7%;
}
.blog h6{
    color: #E4E3E3;
}
.date-tor{
    background-color: #FB1B41;
    position: absolute;
        color: #E4E3E3;
        text-align: center;
        width: 40%;
        top: 612.7%;
}
.date-python{
    background-color: #FB1B41;
    position: absolute;
        color: #E4E3E3;
        text-align: center;
        width: 40%;
        top: 684.6%;
}
.date{
    color: #E4E3E3;
    font-size: 2rem;
}
footer{
    background-color: #0E0E10;
    color: #E4E3E3;
    height: 10vh!important;
}
footer img{
    width: 50%;
}
footer p{
    font-size: 1.5rem;
}
.bg-image{
    background-image: url(../Assets/Media/wp5197492.webp);
    background-repeat: no-repeat;
    background-size:cover;
}