*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Rubik';
}
html{
    font-size: 14px;
}
body{
    background-color: #2A2A2C;
}
header{
    height: 100vh;
    background-color: #2A2A2C;
    background-image: url(../Assets/Media/Deadpool.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.header-container{
    width: 90%!important;
    margin-left: 2%!important;
    margin-right: 2%!important;
}
.burger li a:hover{
    color: #FB1B41!important;
    font-weight: bold!important;
}
#go-top {
    display: none;
    position: fixed;
    width: 10%;
    height: 5%;
    bottom: 5px;
    right: 5px;
    z-index: 99;
    font-size: 2rem;
    border: none;
    outline: none;
    background-color: #FB1B41;
    color: #E4E3E3;
    cursor: pointer;
    border-radius: 5%;
  }
  #go-top i{
      margin-top: 19%;
  }
  #go-top:hover {
    background-color: #FB4A68;
  }
.logo{
    width: 30%;
    height: 10%;
    position: absolute;
    z-index: 2;
    transition: all .4s ease;
}
header img:hover{
    transform: rotate(45deg)!important;
}
.menu{
    display: none;
}
#offcanvasNavbar{
    background-color: #2A2A2C!important;
}
#close{
    background-color: #E4E3E3;
}
.btn-close{
    fill: #E4E3E3!important;
}
.burger{
    display: flex;
}
.burger ul li a{
    color: #E4E3E3!important;
    font-size: 3rem;
    line-height: 200%;
}
.container-fluid{
    width: 90%!important;
}
.menu ul li a{
    color: #E4E3E3!important;
}
h1{
    color: #E4E3E3;
    font-size: 3rem;
    margin-top: 20%;
}
.main-color{
    color: #FB1B41;
}
.container{
    margin-top: 10%;
}
h2{
    color: #E4E3E3;
    padding-left: 0;
    width: 100%!important;
    font-size: 1.2rem!important;
    word-break: break-all;
}
.wrapper{
    width: 100%!important;
}
.dynamic-txts{
    margin-left: 5px;
    overflow: hidden;
    color: #FB1B41;
    top: 0;
    position: relative;
}
h3{
    color: #E4E3E3;
    font-size: 2.5rem;
    margin: 0%;
    padding: 0%;
}  
.separation{
    width: 25%;
    padding: 2%;
}
h4{
    color: #E4E3E3;
    font-size: 1.25rem;
}
h5{
    color: #E4E3E3;
    font-size: 1.5rem;
}
.about p{
    color: #E4E3E3;
    text-align: center;
}
.neon{
    text-shadow: 0px 0px 10px #5C93C9;
}
.download{
    text-decoration: none!important;
    outline: none!important;
    color: #E4E3E3;
    background-color: #FB1B41;
    width: 50%;
    font-size: 1.3rem;
    margin: 5%;
    padding: 2%;
}
.progress{
    border-radius: 20px;
}
.progress-bar{
    background-color: #FB1B41;
    border-radius: 20px;
}
.html-css{
    width: 80%;
}
.js{
    width: 60%;
}
.php{
    width: 60%;
}
.figma{
    width: 80%;
}
.gimp{
    width: 70%;
}
.mysql{
    width: 60%;
}
.sass{
    width: 80%;
}
.shell{
    width: 60%;
}
.git{
    width: 80%;
}
.wordpress{
    width: 60%;
}
.project-icon{
    width: 20%;
}
h6{
    font-size: 2rem;
}
.project button::before, .lab .contain button::before{
    content: "";
    position: absolute;
    width: 0%;
    height: 200%;
    transform: rotate(-15deg) translateY(-20px);
    top: 0;
    left: 0;
    z-index: 3;
    background: #c70039;
    transition: all .7s ease;
}
.project button, .lab .contain button{
    background: transparent;
    outline: none;
    border: 1.5px solid #FB1B41;
    overflow: hidden;
    position: relative;
    transition: all .4s ease;
    font-size: 1.5rem;
}
.project button:hover, .lab .contain button:hover{
    opacity: 1;
    color:#E4E3E3;
}
 .project button:hover .index, .lab .contain button:hover .index{
     position: relative;
    z-index: 4;
    color: #E4E3E3;
}
.project button:hover::before, .lab .contain button:hover::before{
    opacity: 1;
    width: 120%;
}
.project button, .lab button{
    text-align: center;
}
.modal-content {
    background-color: #0E0E10!important;
}
.modal i{
    color: #E4E3E3!important;
    z-index: 4!important;
}
.modal-header{
    border-bottom: none!important;
}
.modal-body{
    color: #E4E3E3!important;
}
.modal-footer{
    border-top: none;
}
.modal-footer a button{
    color: #FB1B41;
    z-index: 4!important;
    border: 1.5px solid #FB1B41;
}
.modal-footer a button:hover{
    color: #E4E3E3!important;
    z-index: 4!important;
}
.project {
    background-color: #0E0E10;
}
.contain{
    width: 75%;
}
.contain img{
    width: 100%;
}
.descr-projet{
    line-height: 25px;
    letter-spacing: 5%;
    color: #E4E3E3;
    font-size: 1.2rem;
    width: 90%;
}
.lab-icon{
    width: 30%;
}
.blog-icon{
    width: 30%;
}
.about-icon{
    width: 7%;
}
.bloc-blog a{
    text-decoration: none;
}
.article{
    width: 100%;
}
.blog h6{
    color: #E4E3E3;
}
.date{
    background-color: #FB1B41;
    position: relative;
    color: #E4E3E3;
    text-align: center;
    width: 50%;
    top: -37px;
    left: -25%;
    font-size: 2rem;
}
.article{
    margin-top: -11.6%!important;
}
form{
    width: 100%;
}
form input, form textarea{
    width: 90%;
    padding-top: 4%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 4%;
    margin-top: 5%;
    height: 100%;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: #0E0E10;
    caret-color: #FB1B41;
    color: #E4E3E3;
    font-size: 1.5rem;
    align-items: flex-end;
}
textarea{
    resize: none;
}
input::placeholder, textarea::placeholder{
    color: #C1C1C1;
}
.submit{
    color: #E4E3E3;
    background-color: #FB1B41;
    width: 50%;
    font-size: 1.5rem;
    margin: 5%;
    padding: 2%;
}
.bg-custom{
    width: 90%;
    border-radius: 2%;
    background-image: url(../Assets/Media/Spidey.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.bg-custom p{
    color: #E4E3E3;
    font-size: 1rem;
}
.bg-custom h6{
    color: #E4E3E3;
}
footer{
    background-color: #0E0E10;
    color: #E4E3E3;
    height: 15vh!important;
}
footer a{
    margin: 0;
    padding: 0;
    width: auto!important;
}
footer img{
    width: 50%;
}
footer p{
    font-size: 1.5rem;
}
.bg-image{
    background-image: url(../Assets/Media/wp5197492.webp);
    background-repeat: no-repeat;
    background-size:cover;
}
.reveal{
    opacity: 0;
}
.reveal-visible{
    opacity: 1;
    transition: 1s;
}