@media screen and (max-width: 770px){
    .menu{
        display: none;
    }
    .burger{
        display: flex;
    }
    .burger ul li a{
        color: #E4E3E3!important;
        font-size: 3rem;
        line-height: 200%;
    }
    .container-fluid{
        width: 90%!important;
    }
    footer img{
        width: 70%;
    }
}
@media screen and (max-width: 450px){
    html{
        font-size: 10px;
    }
    .logo{
        width: 30%;
    }
    .bg-image{
        background-image: url(../Assets/Media/wp5197492.webp);
        background-repeat: no-repeat;
        background-size:cover;
    }
    h1{
        margin-top: 20%;
    }
    footer img{
        width: 50%;
    }
    h2{
        padding-left: 0;
        width: 100%!important;
        font-size: 1.4rem;
    }
    p{
        font-size: 1.4rem!important;
    }
    .wrapper .dynamic-txts{
        margin-left: 0px;
        height: 15px;
        line-height: 15px;
    }
    @keyframes slide {
        100%{
            top: -45px;
        }
      }
    @keyframes typing {
        40%,
        60%{
            left: calc(77% + 15px);
            margin: 0 -35px 0 35px;
        }
        100%{
            left:0;
        }
    }
    .about-icon{
        width: 7%;
    }
    .project-icon{
        width: 20%;
    }
    .lab-icon{
        width: 30%;
    }
    .blog-icon{
        width: 30%;
    }
    footer{
        height: 10vh!important;
    }
    footer p{
        font-size: 1.5rem;
    }
    
}